<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Fixed Acidity</th>
                <th>Volatile Acidity</th>
                <th>Citric Acid</th>
                <th>Residual Sugar</th>
                <th>Chlorides</th>
                <th>Free Sulfur Dioxide</th>
                <th>Total Sulfur Dioxide</th>
                <th>Density</th>
                <th>pH</th>
                <th>Sulphates</th>
                <th>Alcohol</th>
                <th>Estimated Quality</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [min]="0" required>
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary" (click)="onClickEstimateQuality()">Estimate Quality</button>
</div>
