<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Red Wine Quality</h1>
        <p class="lead">A repository for practicing regression modeling using red-wine quality data found on
            <a href="https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009" target="_blank">kaggle</a>.</p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th *ngFor="let name of names">{{ name }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of frame; index as i">
                <td *ngFor="let value of row; index as j; last as isLast">
                    <input type="number"
                           class="form-control form-control-sm"
                           [min]="0"
                           [value]="value"
                           [title]="names[j]"
                           [readonly]="isLast">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-secondary" (click)="onClickAddRow()">+ Add Row</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="onClickEstimateQuality()">Estimate Quality</button>
</div>
